@media only screen and (max-width: 768px) {
  .top-bar {
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  .padd{ 
    margin-bottom: 50px;
  }

  .nav-side{
    position: relative !important;
  }

  .nav-menu {
    display: none !important;
  }

  .profiles {
    display: none !important;
  }

  .none-display {
    display: flex !important;
  }

  .nav-side {
    position: relative;
  }

  .chart-buttons {
    display: inline;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
