$color-paragraph: #2c2c2c;
$color-brand: #ff7b00;
$color-light: #ffffff;
$color-light-gray: #dddddd;
$color-gray: #bebebe;
$color-dark-gray: #636363;
$color-link: #50aefc;

$font-size-option: 18px;
$font-size-paragraph: 14px;
$font-size-brand: 18px;
$font-size-logo: 22px;
$font-brand: "Source Sans Pro", sans-serif;
$font-header: "Source Sans Condensed", sans-serif;
$font-paragraph: "PT Sans Narrow", sans-serif;
$font-logo: "Kaushan Script", cursive;
