.btn {
  display: flex;
  position: relative;
  height: 40px;
  width: 45px;
  margin: 5px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: $color-paragraph;
  border-radius: 5%;
  font-family: $font-brand;
  font-size: $font-size-brand;
}

.btn-nominal {
  color: $color-light;
  background: $color-brand;

  * {
    color: $color-light;
  }
}

.btn-gray {
  color: $color-light;
  background: $color-gray;
}

.btn-dark-gray {
  color: $color-light;
  background: $color-dark-gray;
}

.btn-nav {
  transition: all 0.3s ease-in-out;
  transition: border-width 0.6s linear;
}
