.btn {
  display: flex;
  position: relative;
  height: 50px;
  width: 125px;
  margin: 5px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: #2c2c2c;
  border-radius: 5%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
}

.btn-nominal {
  color: #ffffff;
  background: #ff7b00;
}

.btn-gray {
  color: #ffffff;
  background: #e0e0e0;
}

.btn-dark-gray {
  color: #ffffff;
  background: #a5a5a5;
}
