.btn-nav:hover {
  background: $color-dark-gray;
  transition: all 0.3s ease-in-out;
  border-color: $color-brand;

  a {
    color: $color-light;
  }

  i {
    color: $color-light;
  }
}

.links-index:hover {
  background: $color-light-gray;
}

