.part {
  display: flex;
  position: relative;
  flex-direction: inherit;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  margin: 20px;
  padding: 20px 200px 0 200px;
  border-bottom: 1.5px solid #e0e0e0;
}

.hor-part {
  display: flex;
  position: relative;
  flex-direction: inherit;
  align-items: center;
  justify-content: space-between;
  margin: 0 2px 0 2px;
  padding: 5px;
  border-left: 1.5px solid #e0e0e0;
  border-right: 1.5px solid #e0e0e0;
}
