$color-paragraph: #2c2c2c;
$color-main: #ff7b00;
$color-light: #ffffff;
$color-gray: #e0e0e0;
$color-dark-gray: #a5a5a5;
$color-link: #50aefc;

$font-size-brand: 18px;
$font-size-paragraph: 14px;
$font-size-brand: 18px;

$font-brand: 'Source Sans Pro', sans-serif;
$font-header: 'Source Sans Condensed', sans-serif;
$font-paragraph: 'PT Sans Narrow', sans-serif;
$font-logo: 'Kaushan Script', cursive;

section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    left: 0;
    margin: 15px;
    padding: 20px 0 20px 0;
    border-radius: 1px;
    background: $color-light;
}