h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-dark-gray;
  font-size: $font-size-brand;
  font-family: $font-header;
  font-weight: 200;
}

p {
  color: $color-paragraph;
  font-size: $font-size-paragraph;
  font-family: $font-paragraph;
  font-weight: 400;
}

li {
  color: $color-dark-gray;
  font-size: $font-size-option;
  font-family: $font-paragraph;
  font-weight: 400;
}

span {
  color: $color-dark-gray;
  font-family: $font-brand;
  font-weight: 600;
}

.link {
  color: $color-link;
  font-size: $font-size-paragraph;
  font-family: $font-paragraph;
  font-weight: 500;
  text-decoration: underline;
}
